body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.team-layout {
  display: flex;
  flex-wrap: wrap;
  min-width: 100vh;
}

.team-box {
  padding: 1%;
  width: 18%;
  border: 1px solid;
  margin: -1px;
  text-align: center;
}

.team-box img {
  height: 100px;
  max-width: 100px;
  margin: auto;
  display: block;
}


.header {
  align-items: center;
  background: white;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  padding: .5rem;
  position: sticky;
  top: 0;
}

.header * {
  margin: 0;
}
